### Configuración del .gitignore
Como el scraper ahora se instalará de forma independiente, puedes añadir la carpeta completa del scraper al `.gitignore` para excluirla:

```gitignore
# Node.js dependencies
/node_modules

# Env files
*.env
*.env.local
*.env.development
*.env.test
*.env.production

# Build
/frontend/my-chess-fantasy-frontend/build
/backend/my-chess-fantasy-backend/build

# Excluir node_modules y archivos temporales
/frontend/my-chess-fantasy-frontend/node_modules
/backend/my-chess-fantasy-backend/node_modules

# Excluir archivos grandes específicos
/frontend/my-chess-fantasy-frontend/node_modules/.cache/default-development/3.pack
/backend/my-chess-fantasy-backend/Lists/players_list_xml_foa.xml

# Ignorar node_modules en ambos proyectos frontend y backend
my-chess-fantasy-frontend/node_modules/
my-chess-fantasy-backend/node_modules/

# Ignorar cache
my-chess-fantasy-frontend/node_modules/.cache/
my-chess-fantasy-backend/node_modules/.cache/

# Ignorar build y dist
my-chess-fantasy-frontend/build/
my-chess-fantasy-backend/build/
my-chess-fantasy-frontend/dist/
my-chess-fantasy-backend/dist/

#Arhivos .log
.log

# Ignorar archivos grandes y específicos
fide-ratings-scraper/

# Misc
.DS_Store

# Exclude the scraper folder
/fide-ratings-scraper
